@import "../../App.scss";

.navbar {
  display: flex;
  &-logo {
    display: flex;
    justify-content: center;
    color: #940d1b;
    font-weight: 500;
    font-size: 1.5rem;
  }
  &-dropdowns {
    display: flex;
    justify-content: center;
    p {
      margin-bottom: 0;
      padding: 0.2rem 0.5rem 0 0.5rem;
    }
  }
  &-cart {
    display: flex;
    justify-content: center;
  }
}
