.footer-rights {
  margin-top: auto;
  position: absolute;
  bottom: 0;
  font-size: 0.8rem;
  padding: 1rem;
  display: flex;
  text-align: center;
  color: white;
  background: #242424;
  border-top: 1px solid #707070;
  p {
    margin-bottom: 0;
  }
}
